.header {
    display: flex;
    align-items: flex-start;
    padding: 106px;
    height: 29px;
}

nav {
    display: flex;
    align-items: center;
    gap: 16px;
    position: sticky;
    top: 0;
}

a {
    font-family: Quicksand;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #FFFFFF;

}