.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
    height: 29px;
}

.navElement {
    display: flex;
    align-items: center;
    gap: 61px;
    position: sticky;
    top: 0;
    padding: 0 90px;
}

.aLink {
    font-family: Quicksand;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.aLink:hover{
    color: #FFFFFF !important;
}

.navLine {
    display: none;
}


@media screen and (max-width: 1230px) {
    .header {
        display: none;
    }

    .navElement{
        display: flex;
        flex-direction: column;
    }
    .navbarRespo {
        display: flex;
        flex-direction: column;
        height: 50px;
    }

    .navLine {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top:0;
        cursor: pointer;
    }

    .navbarOpen {
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        color: black;
        width: 100vw;;
    }

    .navCloseImage {
        width: 30px;
        cursor: pointer;
        z-index: 9999;
    }

    .navbarOpen a {
        color: #266AD9 !important;
    }

    .aLink:hover  {
        color: #266AD9 !important;
    }
}
