.projectsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #266AD9;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.content{
  display: flex;
}
.projectsContainer {
  display: flex;
  gap: 32px;
}

.projectDetail {
  display: flex;
  flex-direction: column;
  background-color: #2F4563;
  border-radius: 30px;
  padding-left: 16px;
  width: 800px;
  height: 400px;
}

.projectLinks {
  display: flex;
  gap: 16px;
}

.linkIcon {
  height: 30px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #FFFFFF;
}

.tagIcon {
  height: 40px;
  object-fit: contain;
}

.projectDescription{
  width: 100%;
}

.projectDescriptionLeft{
  display: flex;
}

.projectLinks{
  display: flex;
  gap: 8px;
}